body{
    background-color: white;
}

#d1{
    
    background-image: url(landing.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: auto;
    margin-bottom: 0%;

    
    
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;

}       
#menu{
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;

}
#d1 p{
    
    padding: 20px;
         
}
#text{
    color: white;
    
}
.fontw{
    font-weight: bold;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0%;

}
#first{
    padding: 15px;

}
#second{
    padding: 15px;
    background-color: tomato;
    color: white;

}
#breakfast{
    background-image: url(breakfast.jpg);
    text-align: center;
    color: white;
    

}
#lunch{
    background-image: url(lunch.jpg);
    text-align: center;
    color: white;
    opacity: 0.5;

}
#dinner{
    background-image: url(dinner.jpg);
    text-align: center;
    color: white;

}
