body{
    background-color: white;
}
*{
    padding: 0%;
    margin: 0%;
}

#d1{
    
    background-image: url(landing.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    height: auto;
    

    
    
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;

}       
#menu{
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;

}
#d1 p{
    
    padding: 20px;
         
}
#text{
    color: white;
    
}
.fontw{
    font-weight: bold;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0%;

}
#first{
  /*  padding: 15px; */

}
#second{
    padding: 15px;
    background-color: tomato;
    color: white;

}
#breakfast{
    background-image: url(breakfast.jpg);
    text-align: center;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
    

}
#lunch{
    background-image: url(lunch.jpg);
    text-align: center;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    opacity: 0.5;

}
#dinner{
    background-image: url(dinner.jpg);
    text-align: center;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    

}
.p{
    text-align: center;
}
.img1{
    width: 100%;
    padding: 0;
    margin: 0;
}

.row{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat( 2,1fr );
}
 .container{
    padding:20px 120px ;
 }
.image-container{
    display: flex;
    grid-template-rows: repeat( 2, 1fr);  
    align-items: flex-start;
    flex-direction: column;
}
.
.item-descr{
    padding: 0px 10px;
}
h2{
    
}
