body{
    background-color: white;
}

#d1{
    
    background-image: url(landing.jpg);
    object-fit: cover;
    
    
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;

}
.menu{
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px;
    position: fixed;
    top: 1.25em;
    left: 1.25em;
          
}



